<div id="welcome">
  <div class="container">
    <div class="text-center heading">
      <h1 class="display-4">Welcome {{ me.fullName }}</h1>
    </div>
    <div class="row details">
      <div class="col-sm">
        <div class="list-group">
          <a href="/add-team" class="list-group-item list-group-item-action">Add Team</a>
          <a href="/add-adj" class="list-group-item list-group-item-action">Add Adjudicator</a>
          <a href="/add-venue" class="list-group-item list-group-item-action">Add Venue</a>
          <a href="/add-institution" class="list-group-item list-group-item-action">Add institution</a>
        </div>
      </div>
    </div>
  </div>
  <router-view></router-view>

 </div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
