<div id="enter-results" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/enter-results.less</em>, <em>assets/js/pages/enter-results.page.js</em>, and <em>api/controllers/view-enter-results.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
