<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="" full-page-hero>
    <div class="text-center heading">
      <h1 class="display-4">Welcome to RVDT 2018</h1>
    </div>
    <div class="details">
        <ul class="list-group">
          <a href="/participants"><li class="list-group-item list-group-item-action">Participants</li></a>
          <li class="list-group-item list-group-item-action">Draw for Round 1</li>
          <li class="list-group-item list-group-item-action">Motions for Round 1</li>
          <li class="list-group-item list-group-item-action disabled">Results for Round 1</li>
        </ul>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
