<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="" full-page-hero>
    <div class="text-center heading">
      <h1 class="display-4">Welcome to RVDT 2018</h1>
    </div>
    <div class="details">
        <ul class="list-group">
          <a href="/participants"><li class="list-group-item list-group-item-action">Participants</li></a>
          <% for(let roundNo = 1; roundNo < currentRound; roundNo++){ %>
            <a href="/draw?roundId=<%= roundNo %>"><li class="list-group-item list-group-item-action">Draw for Round <%= roundNo %></li></a>
          <% }%>
        </ul>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
