<div id="upload-file" v-cloak>
 <div class="container">
    <h1 class="text-center">Import Partcipant Data</h1>
    <div class="upload-file-form-container">
      <hr/>
      <ajax-form action="uploadFile" enctype="multipart/form-data" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
        <label > Upload a CSV file: </label>
          <input type="file" class="form-control" placeholder=".csv file" name ="fileName" ref = 'fileName' @change="filesChange()" style="font-size:75%">
          <div class="invalid-feedback" v-if="formErrors.fileName">Please provide a valid name</div>
        </div>

       <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Import</ajax-button>
       </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>